<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-toggle="modal"
        data-target="#add-modal"
      >
        Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th onclick="sortTable(0)">No</th>
              <th onclick="sortTable(1)">Nama</th>
              <th onclick="sortTable(2)">Email</th>
              <th onclick="sortTable(3)">Nomor Telepon</th>
              <th onclick="sortTable(4)">Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < users.length; i++) { %>
            <tr>
              <td><%= i +1 %></td>
              <td><%= users[i].nama %></td>
              <td><%= users[i].email %></td>
              <td><%= users[i].noTelp %></td>
              <td><%= users[i].role %></td>
              <td class="text-center">
                <form
                  action="/users/<%= users[i].id %>?_method=DELETE"
                  method="POST"
                >
                <!-- data-nama tsb akan dikirim pada form input pada modal-edit, dengan
                    data dari tabel users array[i] mengambil kolom pada database-->
                <a 
                   href="javascript:void()"
                   class="btn btn-outline-warning btn-sm button-update"
                   data-id="<%= users[i].id %>"
                   data-nama="<%= users[i].nama %>"
                   data-email="<%= users[i].email %>"
                   data-noTelp="<%= users[i].noTelp %>"
                   data-role="<%= users[i].role %>"
                  >Edit</a>
                <button 
                  type="submit" 
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirm('Apakah Anda yakin ingin menghapus data user ini?');"
                  >
                  Delete
                </button>
              </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script> 
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("dataTable");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if ( n != 0) {
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      } else {
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;      
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>